---
layout: default
---
<header id="home-header" style="background-image: url({{ site.baseurl }}{{ site.sidebar_image }});">
  <div class="container">
    <h1>{{ site.title }}</h1>
    <ul class="meta">
      <li>
        <span>
          Le journal perso de <a href="/about.html">Christophe Robillard</a>
        </span>
      </li>
  </div>
</header>
<article>
  <div class="container">
    {% include _pjlrenseignement.html %}
    
    <ul class="posts">
      {% for post in site.posts %}
        <li>
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
          <span class="meta">
            {{ post.date | date_to_string }}
          </span>
          {{ post.excerpt }}
          <a href="{{ site.baseurl}}{{ post.url}}">Lire la suite</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>
