<script>
                        function removePJLHeader(){
                                 var obj = document.getElementById("pjlrenseignement");
                                 if (obj){
                                         obj.parentNode.removeChild(obj);
                                 } 
                        }
                        </script>
                        
                                <div id="pjlrenseignement">
                                        <p>
                                        En poursuivant votre navigation sur ce site, vous acceptez comme partout ailleurs l’enregistrement de toutes vos communications et autres données personnelles par le gouvernement français hors de tout recours judiciaire possible. <a href="javascript:removePJLHeader()" class="jc-tag">Je suis d'accord</a> <a href="javascript:removePJLHeader()" class="jc-tag">Pas de soucis</a> <a href="javascript:removePJLHeader()" class="jc-tag">Avec plaisir</a>
                                        <p class="pjl-info"><a class="jc-tag-info" href="https://www.laquadrature.net/fr/lettre-ouverte-aux-traitres-a-la-republique">Pour plus d'info</a></p>
                                        </p>
                                </div>