---
layout: default
---
{% if page.featured_image %}
<header style="background-image: url({{ site.baseurl }}{{ page.featured_image }});">
{% else %}
<header style="background-image: url({{ site.baseurl }}{{ site.featured_image }});">
{% endif %}
  <div class="container post-container">
    <a href="{{ site.baseurl }}/" class="home_button"></a>
    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
            {{ page.tagline }}
          </span>
        </li>
      </ul>      
    </div>
  </div>
</header>

<article>
  <div class="container">
    {{ content }}
  </div>
</article>

{% if page.meetup %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s); js.id=id;js.async=true;js.src="https://a248.e.akamai.net/secure.meetupstatic.com/s/script/781615113490305/api/mu.btns.js?id=bcpf5akrcrq7t4n6q84npiitf0";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","mu-bootjs");</script>
{% endif %}
